.social-links {
  margin-top: 0.75rem;
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}

.social-links a img {
  width: 22px;
  height: 22px;
  display: block;
  opacity: 0.65;
}

.social-links a:hover img {
  opacity: 1;
}
